<ion-view view-title="Change Password" class="bg-color">
    <ion-content>
      <form name="changePassword_form" method="post">
          
      <div class="list padding">        
               <label class="item item-input input-bottom" ng-class="{'has-error': changePassword_form.password.$invalid && changePassword_form.password.$dirty}">
                    <input type="password" placeholder="New Password" name="password" ng-model="passChange.password" required="true" ng-minlength="6" ng-maxlength="20">
                </label>
               <div class="error_container" ng-show="changePassword_form.password.$error.required && changePassword_form.password.$dirty">
                   Password is required
               </div>
               <div class="error_container" ng-show="changePassword_form.password.$error.minlength && changePassword_form.password.$dirty">
                   Your password should contain atleast 6 characters
               </div>
               <div class="error_container" ng-show="changePassword_form.password.$error.maxlength && changePassword_form.password.$dirty">
                   Sorry you are exceeding the limit
               </div>
        
               <label class="item item-input input-bottom" ng-class="{'has-error': (changePassword_form.confirmPassword.$invalid || ! isPasswordMatch()) && changePassword_form.confirmPassword.$dirty}">
                   <input type="password" placeholder="Confirm Password" name="confirmPassword" ng-model="passChange.confirmPassword" required="true">
               </label>
               <div class="error_container" ng-show="changePassword_form.confirmPassword.$error.required && changePassword_form.confirmPassword.$dirty" >
                   Confirm password is required
               </div>
               <div class="error_container" ng-show="! isPasswordMatch() && changePassword_form.confirmPassword.$dirty && ! changePassword_form.confirmPassword.$error.required">
                   Password must match
               </div>
               <label class="item item-input input-bottom" ng-class="{'has-error': otpForm.otp.$invalid && otpForm.otp.$dirty}">
                    <input type="tel" placeholder="OTP" name="otp" ng-model="passChange.otp" required="true">
                </label>
          <div class="padding">
              <button class="button button-block app-theme" disabled="disabled" ng-click="changePassword()" ng-disabled="changePassword_form.$invalid || !isPasswordMatch() || passChange.loading">
            <span ng-show="! passChange.loading">Change Password</span>
            <span ng-show="passChange.loading">Changing Password</span>
            <ion-spinner icon="bubbles" class="spinner-light align-right" ng-show="passChange.loading"></ion-spinner> 
        </button>
    </div>
      </div>
            </form>

    </ion-content>
</ion-view>
