<ion-view title="Password Reset" class="bg-color">
<ion-content>
    <form name="signInForm" method="post" ng-submit="resetPassword()">
          
          <div class="list padding">
              <center><img src="./img/book.png" class="logo"></center>
          </div>
          
       <div class="list padding ">       
           
                <label class="item item-input input-bottom" ng-class="{'has-error': signInForm.email.$invalid && signInForm.email.$dirty}">
                    <input type="email" placeholder="Email" name="email" ng-model="signinData.email" ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required="true"><span></span>
                </label>
                <div class="error_container" ng-show="signInForm.email.$dirty && signInForm.email.$error.required" >
                       Your email address is required
                </div>
               <div class="error_container" ng-show="signInForm.email.$dirty && signInForm.email.$error.pattern" >
                     Your email address is invalid
                </div>
                
                <div class=" last-item"></div>     
   </div>
      
    <div class="padding last-item">
        <button class="button button-block app-theme" type="submit"  ng-disabled="signInForm.$invalid || signinData.loading">
            <span ng-show="! signinData.loading">Reset Password</span>
            <span ng-show="signinData.loading">Resetting</span>
            <ion-spinner icon="bubbles" class="spinner-light align-right" ng-show="signinData.loading"></ion-spinner> 
        </button>

        <p class="label-display center">
            Don't have an account yet? <a ui-sref="signUp" class="link">Sign Up </a>
        </p>
    </div>
          </form>
</ion-content>
</ion-view>