<ion-view class="bg-color">
    
    
    
    <ion-content>
        
        
        <div class="bar bar-header item-input-inset app-theme ">
  <label class="item-input-wrapper bg-color">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search"    placeholder="Enter Book, Author or area name"  ng-model="merchantSearchData.search_text" ng-change="search()">
  </label>
  
</div>
       <ion-spinner icon="bubbles" class="spinner-light spinner-center" ng-show="data.loadingFirst" >
     </ion-spinner>  
        
        <ion-list class="white">
            <ion-item ng-repeat="store in (merchantSearchData.validSearch ? merchantSearchData.stores : merchantSearchData.storeList)" href="#/tab/book/{{store.book_title}}/{{store.book_author}}/{{store.book_price}}/{{store.id}}/{{store.user_name}}/{{store.user_location}}/{{store.user_phone}}" >
                <div class="avatar-label">
                    
                    <label class="text-highlight align-left">{{store.book_title}}</label>
                </div>
                <label class="text-highlight text-large align-right">{{store.book_author}}</label>
                <P class="text-highlight align-left" >Rs.{{store.book_price}}</P>
                
            </ion-item>
        </ion-list>
 
        <div class="page-center text-highlight" ng-show="merchantSearchData.validSearch && merchantSearchData.stores.length <= 0">
                No results found
        </div>
    </ion-content>
</ion-view>